@model IEnumerable<RotasMvc5.Models.Noticia>
@{
    ViewBag.Title = "categoria";
}

<h2>Categoria: @ViewBag.Categoria</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Titulo, "MostrarNoticias", "Home", new
            {
                @noticiaId = item.NoticiaId,
                @categoria = item.Categoria,
                @titulo = item.Titulo.ToLower()
            }, null);

            <em>@Html.DisplayFor(modelItem => item.Categoria)</em>
            <b>@Html.DisplayFor(modelItem => item.Data)</b>
        </li>
    }
</ul>


